@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&display=swap');

body{
    font-family: "Bitcount Prop Single", system-ui !important;
}

.shadow-warning-b{
    box-shadow: 0px 10px 10px 10px #FBC010;
}